swagger: "2.0"
info:
  description: "The HMC Room Draw Backend Server provides a JSON API for a client to 
  participate in the HMC Digital Draw process. It stores and processes 
  authentication logic, digital draw rules, users, permissions, and pulls. It 
  also notifies a person via email when they get bumped from their room."
  version: "0.0.1"
  title: "HMC Room Draw API"
host: "www.hmcroomdraw.com"
basePath: "/"
tags:
- name: "authentication"
  description: "Authentication endpoints"
- name: "display"
  description: "Display information about residence halls and rooms"
- name: "pull"
  description: "Pull into a room"
- name: "roommate-group"
  description: "Form amd manage roommate groups"
- name: "user"
  description: "Manage user information"
- name: "admin"
  description: "Admin-only operations"
schemes:
- "https"
paths:
  /login:
    post:
      tags:
      - "authentication"
      summary: "Log in and return user information"
      description: ""
      produces:
      - "application/json"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/User"
        "401":
          description: "user did not log in with Harvey Mudd College email"
  /display/residence-halls:
    get:
      tags:
      - "display"
      summary: "Get the names of all residence halls"
      description: ""
      produces:
      - "application/json"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
        "401":
          description: "user did not log in with Harvey Mudd College email"
  /display/residence-hall/{residence-hall-id}/floors:
    get:
      tags:
      - "display"
      summary: "Return a list of floor plans of that residence hall"
      description: ""
      parameters:
      - name: "residence-hall-id"
        type: "string"
        required: true
        in: "path"
      produces:
      - "application/json"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/FloorPlan"
        "401":
          description: "user did not log in with Harvey Mudd College email"
  /display/user/{user-id}/get-available-rooms:
    get:
      tags:
      - "display"
      summary: "Return a list of available rooms that the current user can be pulled into"
      description: ""
      parameters:
      - name: "user-id"
        type: "string"
        required: true
        in: "path"
      produces:
      - "application/json"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
        "401":
          description: "user did not log in with Harvey Mudd College email"
  /display/room/{room-id}:
    get:
      tags:
      - "display"
      summary: "Return room information of the specified room"
      description: ""
      parameters:
      - name: "room-id"
        type: "string"
        required: true
        in: "path"
      produces:
      - "application/json"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Room"
        "401":
          description: "user did not log in with Harvey Mudd College email"
  /user/pull-into/{room-id}:
    post:
      tags:
      - "pull"
      summary: "The group leader pulls the group into that room"
      description: "The current student or the current leader of the group submits 
      an intention to pull into that room id. Returns success (the user and the 
      team is now occupying that room) or failure and a reason."
      produces:
      - "application/json"
      parameters:
      - name: "room-id"
        type: "string"
        required: true
        in: "path"
      responses:
        "200":
          description: "successful operation"
        "422":
          description: "user group has a lower priority than current occupants"
        "401":
          description: "user did not log in with Harvey Mudd College email"
  /user/get-current-group/{user-id}:
    get:
      tags:
      - "roommate-group"
      summary: "Returns a list of user IDs in the group and the current group leader"
      description: ""
      produces:
      - "application/json"
      parameters:
      - name: "user-id"
        type: "string"
        required: true
        in: "path"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/RoomateGroup"
        "401":
          description: "user did not log in with Harvey Mudd College email"
  /user/send-group-invite-to/{user-id}:
    post:
      tags:
      - "roommate-group"
      summary: "Invite another user to join this group"
      description: ""
      produces:
      - "application/json"
      parameters:
      - name: "user-id"
        type: "string"
        required: true
        in: "path"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/RoomateGroup"
        "401":
          description: "user did not log in with Harvey Mudd College email"
  /user/accept-group-invite/{group-id}:
    post:
      tags:
      - "roommate-group"
      summary: "Accept a group invitation"
      description: ""
      produces:
      - "application/json"
      parameters:
      - name: "group-id"
        type: "string"
        required: true
        in: "path"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/RoomateGroup"
        "401":
          description: "user did not log in with Harvey Mudd College email"
  /user/appoint-leader/{another-user-id}:
    post:
      tags:
      - "roommate-group"
      summary: "The current leader appoints another user as leader"
      description: ""
      produces:
      - "application/json"
      parameters:
      - name: "another-user-id"
        type: "string"
        required: true
        in: "path"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/RoomateGroup"
        "401":
          description: "user did not log in with Harvey Mudd College email"
  /user/leave-group:
    post:
      tags:
      - "roommate-group"
      summary: "The current leader appoints another user as leader"
      description: ""
      produces:
      - "application/json"
      responses:
        "200":
          description: "successful operation"
        "401":
          description: "user did not log in with Harvey Mudd College email"
  /user/get-personal-info:
    get:
      tags:
      - "user"
      summary: "Get the personal information of the current user"
      description: "Same as information retrieved from login"
      produces:
      - "application/json"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/User"
        "401":
          description: "user did not log in with Harvey Mudd College email"
  /user/update-personal-info:
    post:
      tags:
      - "user"
      summary: "Update the personal info of the current user"
      description: ""
      produces:
      - "application/json"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/User"
        "401":
          description: "user did not log in with Harvey Mudd College email"
  /user/get-room-of/{user-id}:
    post:
      tags:
      - "user"
      summary: "Return the information of the room the user id is currently in"
      description: ""
      parameters:
      - name: "user-id"
        type: "string"
        required: true
        in: "path"
      produces:
      - "application/json"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/User"
        "401":
          description: "user did not log in with Harvey Mudd College email"
  /room/room-id/restrict:
    post:
      tags:
      - "admin"
      summary: "Return other users selecting/pulling or interacting with a room."
      description: ""
      produces:
      - "application/json"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/User"
        "401":
          description: "user did not log in with Harvey Mudd College email"
  /admin/send-notification-to/{user-id}:
    post:
      tags:
      - "admin"
      summary: "Send notification to a user"
      description: ""
      parameters:
      - name: "user-id"
        type: "string"
        required: true
        in: "path"
      produces:
      - "application/json"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/User"
        "401":
          description: "user did not log in with Harvey Mudd College email"
  /admin/send-notifications-to-users-with-no-preference:
    post:
      tags:
      - "admin"
      summary: "Send notification to a user"
      description: ""
      produces:
      - "application/json"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/User"
        "401":
          description: "user did not log in with Harvey Mudd College email"
    
definitions:
  Pixel:
    type: "integer"
  Position:
    type: "object"
    properties:
      x:
        $ref: "#/definitions/Pixel"
      y:
        $ref: "#/definitions/Pixel"
  Image:
    type: "object"
    properties:
      url: 
        type: "string"
      width: 
        $ref: "#/definitions/Pixel"
      height:
        $ref: "#/definitions/Pixel"
  Room:
    type: "object"
    properties:
      id:
        type: "string"
      residence_hall_name:
        type: "string"
      floor_number:
        type: "integer"
      suite:
        type: "string"
      number:
        type: "string"
      current_occupant_name:
        type: "string"
        
  FloorPlan:
    type: "object"
    properties:
      image:
        $ref: "#/definitions/Image"
      rooms:
        type: "array"
        items:
          $ref: "#/definitions/Room"
      roomToPositionMap:
        $ref: "#/definitions/RoomToPositionMap"
  RoomToPositionMap:
    type: "object"
    additionalProperties:
      $ref: "#/definitions/Position"

  RoomateGroup:
    type: "object"
    properties:
      id:
        type: "string"
      leaderUserId:
        type: "string"
      members:
        type: "array"
        items:
          $ref: "#/definitions/User"
        
  User:
    type: "object"
    properties:
      id:
        type: "integer"
      firstName:
        type: "string"
      lastName:
        type: "string"
      email:
        type: "string"
      class:
        type: "string"
      priorityNumber:
        type: "integer"
