[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
flask = "*"

[dev-packages]
pdoc = "*"
autopep8 = "*"
docformatter = "*"

[requires]
python_version = "3.9"
